.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-intro p{
  color: #ffffff !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color:inherit !important;
  color: #ffffff !important;
}
.btn-outline-light{
  margin: 1vw;
  border: none !important;
  box-shadow: -2px -2px 2px 0 rgba(16, 11, 83, 0.2) inset, 2px 2px 4px 0 rgba(255,255,255, 0.2) inset, -4px -4px 7px 0px rgba(207, 201, 191, 0.15), 4px 4px 10px 0px rgba(255, 255, 255, 0.15) !important;
}
.custom-nav, .bg-primary{
  background-color: #493ace !important;
}
.container-fluid{
  border: 1px solid #493ace;
  padding: 2vw;
  margin:3vw;
  border-radius: 10px;
}
.form-neo {
  box-shadow: -4px -4px 6px 0px rgba(228, 231, 255, 0.25), 4px 4px 8px 0px rgba(16, 11, 83, 0.4);
  -webkit-box-shadow: -4px -4px 6px 0px rgba(228, 231, 255, 0.25), 4px 4px 8px 0px rgba(16, 11, 83, 0.4);
  -ms-box-shadow: -4px -4px 6px 0px rgba(228, 231, 255, 0.25), 4px 4px 8px 0px rgba(16, 11, 83, 0.4);
}
html {
  background-color: #493ace;
}
.navbar-brand {
  color: #ffffff !important;
  font-size: 2.5 em;
}
.navbar-nav a {
  color: #ffffff !important;
}
